# pandas.core.groupby.GroupBy.cumcount()
Crie uma coluna autoincremento baseado em um grupo de colunas.

Analise o nosso DataFrame abaixo:
* Estamos trabalhando com dois países: Brasil e Alemanha;
* Possuímos alguns estados de cada país.

In [1]:
import pandas as pd

dicionario = {
    'paises': ['Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 
              'Alemanha', 'Alemanha', 'Alemanha', 'Alemanha', 'Alemanha', 'Alemanha'],
    'estados': ['Minas Gerais', 'São Paulo', 'Rio de Janeiro', 'Santa Catarina', 'Paraná', 'Rio Grande do Sul',
               'Baviera', 'Berlim', 'Brandemburgo', 'Hamburgo', 'Schleswig-Holstein', 'Baden-Württemberg']
}

df = pd.DataFrame(dicionario)
df

      paises             estados
0     Brasil        Minas Gerais
1     Brasil           São Paulo
2     Brasil      Rio de Janeiro
3     Brasil      Santa Catarina
4     Brasil              Paraná
5     Brasil   Rio Grande do Sul
6   Alemanha             Baviera
7   Alemanha              Berlim
8   Alemanha        Brandemburgo
9   Alemanha            Hamburgo
10  Alemanha  Schleswig-Holstein
11  Alemanha   Baden-Württemberg

## Criação da numeração

Vamos criar uma numeração para cada estado agrupado por país. Observe que a contagem inicia no número 1 e termina no número 6, __para cada grupo de "país"__.

In [2]:
df['identificador'] = df.groupby('paises').cumcount() + 1
df

      paises             estados  identificador
0     Brasil        Minas Gerais              1
1     Brasil           São Paulo              2
2     Brasil      Rio de Janeiro              3
3     Brasil      Santa Catarina              4
4     Brasil              Paraná              5
5     Brasil   Rio Grande do Sul              6
6   Alemanha             Baviera              1
7   Alemanha              Berlim              2
8   Alemanha        Brandemburgo              3
9   Alemanha            Hamburgo              4
10  Alemanha  Schleswig-Holstein              5
11  Alemanha   Baden-Württemberg              6

## Grupo de colunas

Podemos ir um pouco além, incluindo uma lista de colunas para serem agrupadas.

Em nosso exemplo abaixo, possuímos uma lista de municípios, sendo que cada município corresponde a um determinado estado; e cada estado correspondente a um determinado país.

In [3]:
import pandas as pd

dicionario = {
    'paises': ['Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 'Brasil', 
              'Alemanha', 'Alemanha'],
    'estados': ['Minas Gerais', 'Minas Gerais','Minas Gerais','Minas Gerais',
                'São Paulo', 'São Paulo', 'São Paulo', 'São Paulo', 
                'Baviera', 'Baviera'],
    'cidades': ['Belo Horizonte', 'Uberlândia', 'Ouro Preto', 'Mariana',  
                'São Paulo', 'Campinas', 'Santos', 'Franca',
               'Munique', 'Wurtzburgo' ]
}

df = pd.DataFrame(dicionario)
df

     paises       estados         cidades
0    Brasil  Minas Gerais  Belo Horizonte
1    Brasil  Minas Gerais      Uberlândia
2    Brasil  Minas Gerais      Ouro Preto
3    Brasil  Minas Gerais         Mariana
4    Brasil     São Paulo       São Paulo
5    Brasil     São Paulo        Campinas
6    Brasil     São Paulo          Santos
7    Brasil     São Paulo          Franca
8  Alemanha       Baviera         Munique
9  Alemanha       Baviera      Wurtzburgo

## Criação da numeração em um grupo de colunas
Vamos criar uma numeração para cada cidade, agrupado por estado e país.

In [4]:
df['identificador'] = df.groupby(['paises', 'estados']).cumcount() + 1
df

     paises       estados         cidades  identificador
0    Brasil  Minas Gerais  Belo Horizonte              1
1    Brasil  Minas Gerais      Uberlândia              2
2    Brasil  Minas Gerais      Ouro Preto              3
3    Brasil  Minas Gerais         Mariana              4
4    Brasil     São Paulo       São Paulo              1
5    Brasil     São Paulo        Campinas              2
6    Brasil     São Paulo          Santos              3
7    Brasil     São Paulo          Franca              4
8  Alemanha       Baviera         Munique              1
9  Alemanha       Baviera      Wurtzburgo              2